@using Microsoft.Extensions.Configuration
@using RazorLight
@inherits TemplatePage<Business.Emails.NewObservationToSendToOsmModel>

<div>
    <p>Bonjour @Model.UserName</p>
    <p></p>
    <p>
        Un de vos relevés à été confirmé par la communauté.
    </p>
    <p>
        Vous pouvez dès à présent si vous le souhaitez le partager sur OpenStreetMap, en vous connectant sur Albiziapp.
    </p>
    <p></p>
    <p>
        L'équipe Albiziapp
    </p>
</div>
